{{ 'faq.css' | asset_url | stylesheet_tag }}

<section class="container">
  <div class="faq-text-container">
    <h2>FAQ</h2>
    <p class="sub-heading">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Curabitur a nunc ultrices, feugilat augue vitae,
      accumsan quam.
    </p>
  </div>

  <div class="accordion">
    {% for block in section.blocks %}
      <div class="accordion-item">
        <button id="accordion-button-{{ block.settings.accordeon_number }}" aria-expanded="false">
          <span class="blue-dot"></span>
          <span class="accordion-number">{{ block.settings.accordeon_number }}</span>
          <span class="accordion-title">{{ block.settings.accordeon_question }}</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <span class="blank-dot"></span>
          <p class="accordion-answer">{{ block.settings.accordeon_answer }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script>
  const items = document.querySelectorAll('.accordion button');

  function toggleAccordion() {
    const itemToggle = this.getAttribute('aria-expanded');

    for (i = 0; i < items.length; i++) {
      items[i].setAttribute('aria-expanded', 'false');
    }

    if (itemToggle == 'false') {
      this.setAttribute('aria-expanded', 'true');
    }
  }

  items.forEach((item) => item.addEventListener('click', toggleAccordion));
</script>

{% schema %}
{
  "name": "FAQ Section",
  "settings": [],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "accordeon_number",
          "label": "Question Number",
          "default": "01"
        },
        {
          "type": "text",
          "id": "accordeon_question",
          "label": "Question",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices?"
        },
        {
          "type": "textarea",
          "id": "accordeon_answer",
          "label": "Answer",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Section",
      "category": "Custom",
      "blocks": [
        {
          "type": "faq_item",
          "settings": {
            "accordeon_number": "01",
            "accordeon_question": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices?",
            "accordeon_answer": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam."
          }
        }
      ]
    }
  ]
}
{% endschema %}
