<style>
    .top-seller-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .top-seller-title {
      font-family: Montserrat, sans-serif;
      font-size: 40px;
      font-weight: 500;
      line-height: 60px;
      color: rgba(35, 31, 32, 1);
      margin-bottom: 15px;
    }

    .top-seller-text {
      font-family: Karla, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      color: rgba(128, 128, 128, 1);
      max-width: 508px;
      margin-bottom: 35px;
    }

    .top-seller-card {
      width: 695px;
      background-color: rgba(66, 171, 222, 0.08);
      border-radius: 12px;
    }

    .top-seller-title-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin: 15px 0;
    }

    .top-seller-product-title {
      color: rgba(66, 171, 222, 1);
      font-family: Montserrat, sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
    }

    .top-seller-image {
      max-height: 800px;
    }

    .arrow-container {
      width: 50px;
    }

    .top-seller-content {
      padding-left: 30px;
      padding-right: 30px;
    }

    .top-seller-product-text,
    .top-seller-product-text span {
      font-family: Karla, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: inherit;
    }

    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      max-width: 1400px;
    }

    .top-seller-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    {% comment %} #top-seller-swiper {
      display: none;
    } {% endcomment %}

    .top-seller-arrow-left,
    .top-seller-arrow-right {
    cursor: pointer;
    width: 50px;
    height: 50px;


  }



    @media screen and (max-width: 428px) {
      .top-seller-product-title {
        font-size: 18px;
        line-height: 27px;
      }

      .top-seller-title-container {
        padding-top: 20px;
        margin: 0 0 15px 0;
      }

      .top-seller-content {
        padding: 0 10px;
      }

      .top-seller-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
      }

      .top-seller-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
      }


    }

    @media screen and (max-width: 768px) {
      .top-seller-card {
        max-width: 300px;
      }

      .top-seller-text-container {
        margin-bottom: 30px;
      }

      .swiper-container-top-seller {
        max-height: 385px;
        width: 96%;
        margin-bottom:50px;
      }
      {% comment %} #top-seller-swiper {
        display: flex;

      } {% endcomment %}

      .card-container {
        display: none;
      }

      .top-seller-title {
        font-size: 32px;
        line-height: 48px;
        text-align: center;
      }

      .top-seller-text {
        max-width: 508px;
      }

      .top-seller-wrapper{
      margin-top:160px;
      }
    }
</style>

<section class="top-seller-section">
  <div class="top-seller-text-container">
    <h3 class="top-seller-title">{{ section.settings.title_text }}</h3>
    <p class="top-seller-text">
      {{ section.settings.subtitle_text }}
    </p>
  </div>
  <div class="card-container">
    {% assign has_selected_products = false %}

    {% for product_block in section.blocks %}
      {% if product_block.settings.selected_product %}
        {% assign has_selected_products = true %}
        {% assign product = all_products[product_block.settings.selected_product] %}

        <div
          class="top-seller-card"
          style="background-color: {{ product_block.settings.background_color }};"
        >
          <div class="top-seller-content">
            <div class="top-seller-title-container">
              <p class="top-seller-product-title" style="color: {{ product_block.settings.text_color }}">
                {% if product %}
                  {{ product.title | upcase }}
                {% endif %}
              </p>

              <a
                href="{% if product %}{{ product.url }}{% endif %}"
              >
                <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)" fill="white"/>
                  <path d="M28.356 42.3549L42.356 28.3549M42.356 28.3549H33.0226M42.356 28.3549V37.6883" stroke="{{ product_block.settings.text_color }}" stroke-width="1.5"/>
                </svg>
              </a>
            </div>

            <div class="top-seller-product-text" style="color: {{ product_block.settings.text_color }} ">
              {% if product %}
                {{ product.description }}
              {% endif %}
            </div>
          </div>

          <div class="top-seller-image">
            {% if product %}
              <img src="{{product.featured_image | image_url}}" alt="{{ product.title }}" width="100%" height="100%">
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    {% unless has_selected_products %}
      {%
        render 'top-seller-product-card' with {
        productTitle: 'CREATINE MONOHYDRATE',
        productLink: 'https://example.com',
        productDescription: 'Creatine Monohydrate is a popular dietary supplement widely used in fitness circles, known for enhancing muscle strength, improving exercise performance, and supporting muscle recovery.',
        productImage: 'creatine-flat-can.png'
        }
      %}
      {%
        render 'top-seller-product-card' with {
        productTitle: 'MASS GAINER',
        productLink: 'https://example.com',
        productDescription: 'Mass Gainer is a calorie-dense supplement designed to support muscle mass and weight gain.',
        productImage: 'mass-gainer.png'
        }
      %}
    {% endunless %}
  </div>

  <div id="top-seller-swiper" class="swiper-container swiper-container-top-seller align-center">
    <div class="swiper-wrapper top-seller-wrapper">
      <div class="swiper-slide ">
        <div class="top-seller-card">
          {%
            render 'top-seller-product-card' with {
            productTitle: 'CREATINE MONOHYDRATE',
            productLink: 'https://example.com',
            productDescription: 'Creatine Monohydrate is widely used for enhancing muscle strength.',
            productImage: 'creatine-flat-can.png',
            arrowImage: 'arrow-right-corner.png'
            }
          %}
        </div>
      </div>
      <div class="swiper-slide ">
        <div class="top-seller-card">
          {%
            render 'top-seller-product-card' with {
            productTitle: 'CREATINE MONOHYDRATE',
            productLink: 'https://example.com',
            productDescription: 'Creatine Monohydrate is widely used for enhancing muscle strength.',
            productImage: 'creatine-flat-can.png',
            arrowImage: 'arrow-right-corner.png'
            }
          %}
        </div>
      </div>
    </div>

    <div class="arrow-container">
      <div class="gap">
        <div class="arrow-left">
          <img src="{{ 'arrow-left-small.png' | asset_url }}" alt="Previous" width="100%" height="100%">
        </div>
        <div class="arrow-right">
          <img src="{{ 'arrow-right-small.png' | asset_url }}" alt="Next" width="100%" height="100%">
        </div>
      </div>
    </div>
  </div>

  {% comment %}
    <div id="top-seller-swiper" class=".swiper-container swiper-container-top-seller align-center">
      <div class="swiper-wrapper">
        <div class="swiper-slide">111</div>
        <div class="swiper-slide">222</div>
      </div>

      <div class="arrow-container">
        <div class="gap">
          <div class="top-seller-arrow-left">
            <img src="{{ 'arrow-left-small.png' | asset_url }}" alt="Previous" width="100%" height="100%">
          </div>
          <div class="top-seller-arrow-right">
            <img src="{{ 'arrow-right-small.png' | asset_url }}" alt="Next" width="100%" height="100%">
          </div>
        </div>
      </div>
    </div>
  {% endcomment %}
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('#top-seller-swiper', {
      slidesPerView: 1.2,
      spaceBetween: 15,
      loop: true,
      navigation: {
        nextEl: '.top-seller-arrow-right',
        prevEl: '.top-seller-arrow-left',
      },
      {% comment %} autoplay: {
        delay: 3000,
      }, {% endcomment %}
      autoplay: false,
      breakpoints: {
        768: { slidesPerView: 1 },
      },
      pagination: false,
    });
  });
</script>

{% schema %}
{
  "name": "Top Seller Section",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title",
      "default": "Discover our top sellers"
    },
    {
      "type": "textarea",
      "id": "subtitle_text",
      "label": "Subtitle",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsanquam."
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select a product"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Card Background Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Card Text Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Sellers",
      "category": "Products",
      "blocks": [
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "background_color": "rgba(66, 171, 222, 0.08)",
            "text_color": "rgba(66, 171, 222, 1)"
          }
        },
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "background_color": "rgba(227, 95, 94, 0.08)",
            "text_color": "rgba(227, 95, 94, 1)"
          }
        }
      ]
    }
  ]
}
{% endschema %}
