{{ 'top-sellers.css' | asset_url | stylesheet_tag }}

<section class="top-seller-section">
  <div class="top-seller-text-container">
    <h3 class="top-seller-title">{{ section.settings.title_text }}</h3>
    <p class="top-seller-text">
      {{ section.settings.subtitle_text }}
    </p>
  </div>
  <div class="card-container container">
    {% assign has_selected_products = false %}

    {% for product_block in section.blocks %}
      {% if product_block.settings.selected_product %}
        {% assign has_selected_products = true %}
        {% assign product = all_products[product_block.settings.selected_product] %}

        <div
          class="top-seller-card"
          style="background-color: {{ product_block.settings.background_color }};"
        >
          <div class="top-seller-content">
            <div class="top-seller-title-container">
              <p class="top-seller-product-title" style="color: {{ product_block.settings.text_color }}">
                {% if product %}
                  {{ product.title | upcase }}
                {% endif %}
              </p>

              <a
                href="{% if product %}{{ product.url }}{% endif %}"
              >
                <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)" fill="white"/>
                  <path d="M28.356 42.3549L42.356 28.3549M42.356 28.3549H33.0226M42.356 28.3549V37.6883" stroke="{{ product_block.settings.text_color }}" stroke-width="1.5"/>
                </svg>
              </a>
            </div>

            <div class="top-seller-product-text" style="color: {{ product_block.settings.text_color }} ">
              {% if product %}
                {{ product.description }}
              {% endif %}
            </div>
          </div>

          <div class="top-seller-image">
            {% if product %}
              <img src="{{product.featured_image | image_url}}" alt="{{ product.title }}" width="auto" height="auto">
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    {% unless has_selected_products %}
      {%
        render 'top-seller-product-card' with {
        productTitle: 'CREATINE MONOHYDRATE',
        productLink: 'https://example.com',
        productDescription: 'Creatine Monohydrate is a popular dietary supplement widely used in fitness circles, known for enhancing muscle strength, improving exercise performance, and supporting muscle recovery.',
        productImage: 'creatine-flat-can.png'
        }
      %}
      {%
        render 'top-seller-product-card' with {
        productTitle: 'MASS GAINER',
        productLink: 'https://example.com',
        productDescription: 'Mass Gainer is a calorie-dense supplement designed to support muscle mass and weight gain.',
        productImage: 'mass-gainer.png'
        }
      %}
    {% endunless %}
  </div>

  <div id="top-seller-swiper" class="swiper-container swiper-container-top-seller container">
    <div class="swiper-wrapper top-seller-wrapper">
      {% assign has_selected_products = false %}
      {% for product_block in section.blocks %}
        {% if product_block.settings.selected_product %}
          {% assign has_selected_products = true %}
          {% assign product = all_products[product_block.settings.selected_product] %}

          <div class="swiper-slide top-seller-slide">
            <div class="top-seller-card" style="background-color: {{ product_block.settings.background_color }};">
              <div class="top-seller-content">
                <div class="top-seller-title-container">
                  <p class="top-seller-product-title" style="color: {{ product_block.settings.text_color }}">
                    {% if product %}
                      {{ product.title | upcase }}
                    {% endif %}
                  </p>
                  <a href="{% if product %}{{ product.url }}{% endif %}">
                    <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)" fill="white"/>
                      <path d="M28.356 42.3549L42.356 28.3549M42.356 28.3549H33.0226M42.356 28.3549V37.6883" stroke="{{ product_block.settings.text_color }}" stroke-width="1.5"/>
                    </svg>
                  </a>
                </div>

                <div class="top-seller-product-text" style="color: {{ product_block.settings.text_color }};">
                  {% if product %}
                    {{ product.description }}
                  {% endif %}
                </div>
              </div>

              <div class="top-seller-image">
                {% if product %}
                  <img
                    src="{{ product.featured_image | image_url }}"
                    alt="{{ product.title }}"
                    width="auto"
                    height="auto"
                  >
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% unless has_selected_products %}
        <div class="swiper-slide">
          {%
            render 'top-seller-product-card' with {
            productTitle: 'CREATINE MONOHYDRATE',
            productLink: 'https://example.com',
            productDescription: 'Creatine Monohydrate is a popular dietary supplement.',
            productImage: 'creatine-flat-can.png'
            }
          %}
        </div>
        <div class="swiper-slide">
          {%
            render 'top-seller-product-card' with {
            productTitle: 'MASS GAINER',
            productLink: 'https://example.com',
            productDescription: 'Mass Gainer is a calorie-dense supplement.',
            productImage: 'mass-gainer.png'
            }
          %}
        </div>
      {% endunless %}
    </div>

    <div class="top-seller-arrow-container">
      <div class="top-seller-arrow-left">
        <img src="{{ 'arrow-left-small.png' | asset_url }}" alt="Previous" width="auto" height="auto">
      </div>
      <div class="top-seller-arrow-right">
        <img src="{{ 'arrow-right-small.png' | asset_url }}" alt="Next" width="auto" height="auto">
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('#top-seller-swiper', {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      navigation: {
        nextEl: '.top-seller-arrow-right',
        prevEl: '.top-seller-arrow-left',
      },
      {% comment %} autoplay: {
        delay: 3000,
      }, {% endcomment %}
      pagination: false,
    });
  });
</script>

{% schema %}
{
  "name": "Top Seller Section",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title",
      "default": "Discover our top sellers"
    },
    {
      "type": "textarea",
      "id": "subtitle_text",
      "label": "Subtitle",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsanquam."
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select a product"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Card Background Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Card Text Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Sellers",
      "category": "Products",
      "blocks": [
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "background_color": "#f0f9fd",
            "text_color": "rgba(66, 171, 222, 1)"
          }
        },
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "background_color": "#fdf3f3",
            "text_color": "rgba(227, 95, 94, 1)"
          }
        }
      ]
    }
  ]
}
{% endschema %}
